<div class = 'container'>
    <row>
    <div id= 'header'>
    
      <select id="select_team">
        <option value="3">Boston Red Sox</option>
        <option value="5">Detroit Tigers</option>
        <option value="2">Los Angeles Dodgers</option>
        <option value="1">New York Yankees</option>
        <option value="4">Philadelphia Phillies</option>

   
    

      </select> 
  



      <button id="data1">Team Payroll</button>
      <button id="data2">Team Performance</button>
      <div class="clearfix"></div>




 


    </div>
  </row>
  <row>
    <div class = 'six columns' id='player_data'>


    <div id="player_name">
      No Name
    </div>
    <div id="salary_data">
      Soon
    </div>
    <div id="cost_performance_score">
      Soon
    </div>
  </div>

<div id='pie_area' class= 'ten columns'>

</div>

</row>
</div>



