<!DOCTYPE html>
<html>
  <head>    
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Player Values</title>

 

  </head>
  <body>
    <div id= 'header'>
      <select id="team">
        <option value="349">Boston Red Sox</option>
        <option value="354">Los Angeles Angels of Anaheim</option>
        <option value="1">New York Yankees</option>
      </select>

    </div>
    <div class = 'container'>
    <div class = 'five columns'>
    <h1 class="team_name" value=""></h1>

    <div id="buttons">
      <button id="data1">Team Payroll</button>
      <button id="data2">Team Performance</button>
    </div>

    <div id="player_name">
      No Name
    </div>
    <div id="salary_data">
      Soon
    </div>
    <div id="cost_performance_score">
      Soon
    </div>



<!-- <select id="team">
  <option value="349">Boston Red Sox</option>
  <option value="354">Los Angeles Angels of Anaheim</option>
  <option value="347">New York Yankees</option>
</select> -->
</div>
<div id='pie_area' class= 'ten columns'>

</div>




  </body>
  </div>
</html>
