<div class = 'container'>
    <row>
    <div id= 'header'>
    
      <select id="select_team">
        <option value="16">Arizona Diamondbacks</option>
        <option value="14">Atlanta Braves</option>
        <option value="15">Baltimore Orioles</option>
        <option value="3">Boston Red Sox</option>
        <option value="17">Chicago Cubs</option>
        <option value="12">Chicago White Sox</option>
        <option value="13">Cincinatti Reds</option>
        <option value="21">Cleveland Indians</option>
        <option value="5">Detroit Tigers</option>
        <option value="19">Kansas City Royals</option>
        <option value="8">Los Angeles Angels</option>
        <option value="2">Los Angeles Dodgers</option>
        <option value="18">Milwaukee Brewers</option>
        <option value="1">New York Yankees</option>
        <option value="4">Philadelphia Phillies</option>
        <option value="20">Pittsburg Pirates</option>
        <option value="6">San Francisco Giants</option>
        <option value="22">Seattle Mariners</option>
        <option value="11">St. Louis Cardinals</option>
        <option value="9">Texas Rangers</option>
        <option value="7">Toronto Blue Jays</option>
        <option value="10">Washington Nationals</option>
       


   
    

      </select> 
  



      <button id="data1">Team Payroll</button>
      <button id="data2">Team Performance</button>
      <div class="clearfix"></div>




 


    </div>
  </row>
  <row>
    <div class = 'six columns' id='player_data'>


    <div id="player_name">
      No Name
    </div>
    <div id="salary_data">
      Soon
    </div>
    <div id="cost_performance_score">
      Soon
    </div>
  </div>

<div id='pie_area' class= 'ten columns'>

</div>

</row>
</div>



