/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require base
 *= require layout
 *= require skeleton
 *= require_tree .
 */
.clearfix{
  clear: both;
}
#header {
  background-color: gray;
  height: 43px;

}

#header div {
  display: inline-block;

}

#player_data {
  float: right;
}

#select_team{
  float: left;
}
#data1, #data2 {
  background-color: rgb(238, 238, 238);
  height: 43px;
  border:solid 1px #ccc;
  outline: 0;
  padding: none;
  border-radius:1px;
  box-shadow:0px;
  cursor:pointer;
  float: left;
  margin-left: 0px;

}
#data2  {
  margin-left: -3px;
}

#player_name {
  font-weight: bold;
}

.columns {
  padding-top: 30px;
}
svg {

}
