/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require base
 *= require layout
 *= require skeleton
 *= require_tree .
 */

 .columns {
  padding-top: 60px;
}

#cost_performance_score_description {
  size:8px;
}

#header {
  background-color: rgb(238, 238, 238);
  height: 43px;
  margin-top: 20px;
  border:solid 1px #ccc;


}

#header div {
  display: inline-block;

}

#player_data {
  float: right;
}

#select_team{
  float: left;
}
#data1, #data2 {
  background-color: rgb(238, 238, 238);
  height: 43px;
  /*border:solid 1px #ccc;*/
  outline: 0;
  padding: none;
 /* border-radius:1px;*/
  box-shadow:0px;
  cursor:pointer;
  float: left;

}


#data1 {
  margin-left: 1px;
  border:solid 0px #ccc;
}
#data2  {
  margin-left: -3px;
  border:solid 0px #ccc;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
}

#player_name {
  font-weight: bold;
}

.columns {
  padding-top: 60px;
}

